.nav {
    position: fixed;
    width: 100vw;
    height: 100px;
    background-color: rgb(39, 39, 39);
    box-shadow: -10px 0 30px black;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav-links {
display: flex;
flex-direction: row;
margin-top:35px;

}

.nav-button {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding: 12px 34px;
    display: inline-block;
    margin-left:10px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    
}

.nav-button:hover {
    box-shadow: inset 400px 0 0 0 #383838;
    color: white;
}


.nav-profile-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top:-30px;
}


.nav-title {
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 4px;
    font-size: 50px;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
    
}



.login-button {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding: 2px 14px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    margin-right:5px;
} 

.register-button{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    padding: 2px 2px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.login-button:hover {
    box-shadow: inset 400px 0 0 0 #383838;
    color: white;
}

.register-button:hover {
    box-shadow: inset 400px 0 0 0 #383838;
    color: white;
}

.welcome-user-logout-container{
    height:2vh;
    position: relative;
    color:white;
    display: flex;
    flex-direction: row;

}

.welcome-text-logout{
    position: relative;
    margin-top:0;
    margin:0;
    
}

.logout-button{
    margin-left:5px;
    height:2.3vh;
    position: relative;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

@media(max-width:1350px){
    .nav-title{
        font-size:40px;
    
    }
}

@media(max-width:1250px){
    .nav-title{
        font-size:30px;
        margin-top:30px;
    }
}

@media(max-width:1160px){
    .nav-title{
        font-size:25px;
        margin-top:40px;
    }

    .nav-button{
        width:11vw;
        font-size: 12px;
        
    }

}

@media(max-width:1120px){
    .nav-title{
        font-size:23px;
        margin-top:40px;
    }
    .nav-button{
        font-size:11px;
    }
}




@media (max-width:1000px){
    .nav-title{
        font-size:20px;
        text-align: center;
        margin-top:20px;
    }

    .nav-links{
        margin-top: 45px;
        width:55vw;
        height:4vh;
    
    }

    .nav-button {
        width:12vw;
        height:20px;
        font-size:13px;
        padding:0;
        margin-left:5px;
        text-align: center;

        }

    .nav-profile-pic {
        width:8vw;
        height:6vh;
        margin-top:8px;
    }

    .nav-profile-container{
        width:20vw;

        
    }

    .login-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media(max-width:780px){
    .nav-button{
        font-size: 11px;
    }
}

@media(max-width:570px){
    .nav-button{
        font-size: 9px;
    }
}

@media(max-width:520px){
    .nav-links{
        flex-direction: row;
        margin-top: 43px;
        width:65vw;
        height:4vh;
        flex-wrap: wrap;
    }
    .nav-button{
        font-size: 9px;
        width:16vw;
    }
}



@media (max-width: 360px){
    .nav-title{
        font-size:15px;
        width:30vw;
        text-align: center;
        margin-top:15px;
    }

    .nav-links{
        flex-direction: row;
        margin-top: 47px;
        width:36vw;
        height:4vh;
        flex-wrap: wrap;
    }

    .nav-button {
        width:17.5vw;
        height:20px;
        font-size:10px;
        padding:0;
        margin-left:1px;
        margin-top:3px;
        text-align: center;

        }

    .nav-profile-pic {
        width:16vw;
        height:8vh;
        margin-top:8px;
    }

    .nav-profile-container{
        width:24vw;
        
    }

    .login-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}